.experience-section {
  padding: 5rem 2rem;
  background-color: #0f0f0f;
  color: #fff;
}

.experience-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #4ea8ff;
  margin-bottom: 3rem;
}

.experience-accordion {
  max-width: 900px;
  margin: 0 auto;
}

.accordion-item {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-header {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  backdrop-filter: blur(3px);
}

.accordion-header:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.accordion-header .company-logo {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: #fff;
}

.accordion-header .company-logo img {
    width: 100%;
}

.stellar-padding {
    padding: 25px 5px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
  padding: 0 1.5rem;
}

.accordion-content.open {
  padding: 1rem 1.5rem;
}

.accordion-content > * {
  margin-bottom: 1rem;
}

.experience-list {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.tech-used {
  color: #90caf9;
}

.accordion-header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  display: flex;
}

.company-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.company-name {
  display: block;
  font-weight: 600;
  font-size: 1.5rem;
}

.experience-dates {
  display: block;
  font-size: 0.85rem;
  color: #aaa;
  padding-top: 5px;
}

.accordion-icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

/* Rotate icon when open */
.accordion-header.active .accordion-icon {
  transform: rotate(45deg);
}

@media (max-width: 600px) {
  .accordion-header .company-logo {
    display: none;
  }
}

.experience-card {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.experience-card.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.location-icon {
    width: 40px;
}

.location {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-left: -12px;
}

.tech-used {
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #7a7a7a;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-right: 5px;
}