* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  line-height: 1.6;
}

.hero {
  min-height: 100vh;
  /* ensures full screen */
  height: 100dvh;
  /* accounts for mobile browser chrome too */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: radial-gradient(circle at center, #224ec7 0%, #0f0f0f 80%);
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Dark overlay */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 1rem;
}


.content h1 {
  font-size: 3.5rem;
}

.content span {
  color: #00b6ff;
}

.content h2 {
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #cccccc;
}

/* Animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 600px) {
  .content h1 {
    font-size: 1.8rem;
  }

  .content h2 {
    font-size: 1.2rem;
  }
}

.hero h1,
.hero h2 {
  animation: fadeUp 1.5s ease forwards;
}

@media (min-width: 768px) {
  .content h1 br {
    display: none;
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #00b6ff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease, transform 0.1s ease;
  z-index: 10000;
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none !important;
  }

  body {
    cursor: auto !important;
  }
}